/* General */
.container {
  margin-top: 2rem;
}

.box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.textfield-readonly .MuiInputBase-root.Mui-disabled {
  color: rgba(
    0,
    0,
    0,
    0.87
  ); /* Make sure readonly fields use the standard text color */
}

.helper-text {
  margin-top: -0.75rem;
  margin-bottom: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 1rem;
}

.button-container button {
  width: 100%;
  height: 100%;
  padding: 1px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
}

.attribute-container {
  position: relative;
}

.attribute-box {
  position: relative;
  margin-right: 1rem;
  flex-grow: 1;
}

.modifier-circle {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.weapon-info {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.weapon-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px 0;
}

.weapon-cost-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
